.container{
    height: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.boxDiv1{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: orange;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
}

.miniBox1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: gray;
    grid-row-start: 1;
    grid-row-end: 8;
}


.miniBox2{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: wheat;
    grid-row-start: 8;
    grid-row-end: 11;
}

.miniBox3{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: orangered;
    grid-row-start: 11;
    grid-row-end: 12;
}

.miniBox4{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: red;
    grid-row-start: 12;
    grid-row-end: 13;
}

img{
    width: 100%;
    height: 100%;
}

.boxDiv2{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: orangered;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
}

.boxDiv3{
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
}

.boxDiv4{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
}

.boxDiv5{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: purple;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
}

.boxDiv6{
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: olivedrab;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
}

